@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Raleway:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6e7d80;
}

/* headings and logo images*/
#main-img {
    background: url('../img/98313C97-284D-48BB-B1ED-2ADA34B88CEA.jpg') no-repeat center center;
    height: 440px;
    width: 100%;
}

#logo-img {
    float: left;
    width: 40%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 45px;
    border-color: #fff;
    border-width: 1.5px;
    border-radius: 50%;
    margin: 25px;
    border-style: solid;
}

#circle-cover-bg {
    background: url('../img/C70217EC-FEB8-4C2C-BEA9-B7251BD544AF.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#logo {
    float: right;
    width: 40%; 
} 

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 500%;
    color: #fff;
    border: 4px solid #fff;
    margin: 40px; 
    padding: 35px;
    border-style: double;
}


#logo2 {
    float: left;
    font-size: 280%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #6e7d80;
    margin-left: 20px;
} 

/* navigation menu */
#link-menu {
    font-size: 100%;
    letter-spacing: 3.5px;
}

#link-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    padding: 20px;
}

#link-menu a {
    text-decoration: none;
    color: #6e7d80;
}





