@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Raleway:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6e7d80;
}

/* headings and logo images*/
#main-img {
    background: url('../img/98313C97-284D-48BB-B1ED-2ADA34B88CEA.jpg') no-repeat center center;
    height: 440px;
    width: 100%;
}

#logo-img {
    float: left;
    width: 40%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 40px;
    border-color: #fff;
    border-width: 1.5px;
    border-radius: 50%;
    margin: 25px;
    border-style: solid;
}

#circle-cover-bg {
    background: url('../img/C70217EC-FEB8-4C2C-BEA9-B7251BD544AF.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#logo {
    float: right;
    width: 40%; 
} 

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 500%;
    color: #fff;
    border: 4px solid #fff;
    margin: 40px; 
    padding: 35px;
    border-style: double;
}

/* navigation menu */
#logo2 {
    float: left;
    font-size: 220%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #90A617;
    margin-left: 40px;
} 

#logo2:hover {
    color: #6e7d80;
}

#link-menu {
    font-size: 100%;
    letter-spacing: 3.5px;
}

#link-menu, #logo2 {
    line-height: 55px;
}

#link-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-transform: uppercase;
}

#link-menu a {
    text-decoration: none;
    color: #90A617;
}

#link-menu a:hover {
    color: #6e7d80;
}

/* section id=text */

#text {
    height: 600px;
}

#left-side {
    padding-top: 40px;
    width: 50%;
    float: left;
}

h3 {
    font-family: Alkatra, sans-serif;
    font-size: 185%;
    margin-left: 40px;
    margin-right: 40px;
    letter-spacing: 2px;
    color: #90A617;
}

#paragraph {
    margin-left: 40px;
    margin-right: 40px;
}

p {
    font-size: 100%;
    margin-left: 55px;
    margin-right: 55px;
}

#third-header {
    font-family: Alkatra, sans-serif;
    font-size: 165%;
    margin-left: 160px;
    margin-right: 160px;
    letter-spacing: 2px;
    color: #90A617; 
}



#right-image {
    width: 40%;
    float: right;
    margin-right: 40px;
    border-bottom: 2px solid #90A617;
}





