@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fddaab;
    background-color: #000;
}

/* Navigation menu */
#nav-logo {
    float: left;
    font-size: 220%;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #f16d00;
    margin-left: 40px;
}

#nav-logo:hover {
    color: #fec900;
}

#link-menu {
    font-size: 100%;
    letter-spacing: 3.5px;
}

#link-menu,
#nav-logo {
    line-height: 55px;
}

#link-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    text-transform: uppercase;

}

#link-menu a {
    text-decoration: none;
    color: #f16d00;

}

#link-menu a:hover {
    color: #fec900;

}

#link-menu a.active {
    color: #fec900;
}

/* Home page*/
#main-outer {
    overflow: hidden;
    background: url('../img/92F2D926-EA76-4AE5-B0DB-E9EC67F87180.png') no-repeat center center;
    height: 450px;
    width: 100%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 40px;
    border-color: rgba(0, 0, 0, 0.6);
    border-width: 2px;
    border-radius: 50%;
    margin: 30px;
    border-style: solid;
}

#circle-cover-bg {
    background: url('../img/5FF0A345-6332-4F70-97F0-0D2D79B38B02.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#logo-text {
    color: rgba(0, 0, 0, 0.7);
    float: right;
    padding-top: 125px;
    font-size: 300%;
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    width: 650px;
    margin-left: auto;
}

/* Home page main container section */
#main-container {
    width: 100%;
    height: 750px;
}

h3 {
    font-family: Raleway, sans-serif;
    font-size: 200%;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 2px;
    color: #fec900;
    text-align: center;
}

p {
    font-size: 110%;
}

#header {
    padding-top: 60px;
    width: 50%;
    float: left;
    margin-left: 40px;
}

#header p {
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#paragraph {
    padding-top: 80px;
    width: 50%;
    float: left;
    margin-left: 40px;
}

#paragraph h3 {
    margin-bottom: 20px;
}

#paragraph p {
    margin-left: 200px;
    margin-top: 5px;
}

#right-image {
    width: 35%;
    float: right;
    padding-top: 65px;
    margin-right: 20px;
}

/* About page */
#about-container {
    width: 100%;
    height: 900px;
}

#about-paragraph {
    padding-top: 80px;
    padding-bottom: 20px;
    width: 90%;
    float: left;
    margin-left: 60px;
    text-align: center;
}

#about-steps {
    float: right;
    margin-right: 100px;
    width: 55%;
}

h4 {
    font-family: Raleway, sans-serif;
    font-size: 110%;
    color: #f16d00;
    margin-top: 38px;
}

#about-image {
    width: 35%;
    float: left;
    padding-top: 30px;
    margin-left: 20px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Keyframe for fade*/
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* Email us*/
h2 {
    font-family: Raleway, sans-serif;
    font-size: 180%;
}

.email-section {
    clear: left;
    height: 600px;
    background: url('../img/92F2D926-EA76-4AE5-B0DB-E9EC67F87180.png') no-repeat center center;
}

.email-form {
    margin: 50px 10% 0 0;
    color: #ffda00;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 620px;
    position: absolute;
    left: 25%;
    padding: 20px;
}

.email-form h2 {
    color: #ffda00;
    margin-bottom: 8px;
    font-size: 25px;
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 2px solid #ffda00;
    border-radius: 2px;
}

#message {
    height: 100px;
}

.text-input:hover {
    border-color: #922f04;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 120%;
    background-color: #922f04;
    color: #ffda00;
    display: block;
}

.join-button:hover {
    background-color: #ffda00;
    color: #922f04;
}

/* footer */
.social-media {
    height: 60px;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 140%;
    margin: 1%;
    padding: 3%;
}

/* For screens size from 1200px */
@media screen and (max-width: 1200px) {
    #main-container {
        width: 100%;
        height: 900px;
        float: left;
        margin: 0 auto;
    }

    #main-outer {
        overflow: hidden;
        background: url('../img/92F2D926-EA76-4AE5-B0DB-E9EC67F87180.png') no-repeat center center;
        height: 450px;
        width: 100%;
    }

    #logo-img,
    #logo-text {
        width: 100%;
        float: left;
        height: 15px;
        padding: 0;
        font-size: 170%;
        margin: 0 auto;
    }

    h3 {
        font-family: Raleway, sans-serif;
        font-size: 150%;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: 2px;
        color: #fec900;
        text-align: center;
    }

    p {
        font-size: 100%;
    }

    #header {
        padding-top: 40px;
        width: 50%;
        float: left;
        margin-left: 40px;
    }

    #header p {
        text-align: center;
        margin-top: 10px;

    }

    #paragraph {
        padding-top: 60px;
        width: 50%;
        float: left;
        margin-left: 20px;
    }

    #paragraph h3 {
        margin-bottom: 10px;
    }

    #paragraph p {
        margin-left: 80px;
        margin-top: 5px;
    }

    #right-image {
        width: 35%;
        float: right;
        padding-top: 65px;
        margin-right: 40px;
    }

    #about-container {
        width: 100%;
        height: 950px;
    }

    #about-paragraph {
        padding-top: 80px;
        width: 90%;
        float: left;
        margin-left: 60px
    }

    #about-steps {
        float: right;
        margin-top: 25px;
        margin-right: 40px;
        margin-left: 10px;
        width: 40%;
    }

    h4 {
        font-family: Raleway, sans-serif;
        font-size: 100%;
        color: #f16d00;
        margin-top: 10px;
    }

    #about-image {
        width: 50%;
        float: left;
        padding-top: 3px;
        margin-left: 40px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .email-form {
        margin: 70px 10% 0 0;
        color: #fffebd;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 600px;
        position: absolute;
        left: 18%;
        padding: 10px;
    }

    .social-media {
        height: 60px;
    }

    .social-media li {
        display: inline;
    }

    .social-media i {
        font-size: 140%;
        margin: 1%;
        padding: 3%;
    }
}

/* For screens size from 950px */
@media screen and (max-width: 950px) {
    #main-container {
        width: 100%;
        height: 700px;
        float: left;
        margin: 0 auto;
    }

    #link-menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 10px;
        line-height: 25px;
    }

    #logo-img,
    #logo-text {
        width: 100%;
        float: left;
        height: 15px;
        padding: 0;
        font-size: 150%;
        margin: 0 auto;
    }

    h3 {
        font-family: Alkatra, sans-serif;
        font-size: 150%;
        margin-left: 20px;
        margin-right: 20px;
        letter-spacing: 2px;
        color: #fec900;
        text-align: center;
    }

    p {
        font-size: 100%;
    }

    #header {
        padding-top: 40px;
        width: 50%;
        float: left;
        margin-left: 40px;
    }

    #header p {
        text-align: center;
        margin-top: 10px;

    }

    #paragraph {
        padding-top: 60px;
        width: 50%;
        float: left;
        margin-left: 20px;
    }

    #paragraph h3 {
        margin-bottom: 10px;
    }

    #paragraph p {
        margin-left: 80px;
        margin-top: 5px;
    }

    #right-image {
        width: 35%;
        float: right;
        padding-top: 65px;
        margin-right: 40px;

    }

    #about-container {
        width: 100%;
        height: 850px;
    }

    #about-paragraph {
        padding-top: 30px;
        width: 90%;
        float: left;
        margin-left: 40px
    }

    #about-steps {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        width: 50%;
    }

    h4 {
        font-family: Raleway, sans-serif;
        font-size: 100%;
        color: #f16d00;
        margin-top: 5px;
    }

    #about-image {
        width: 40%;
        float: left;
        padding-top: 80px;
        margin-left: 20px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .email-form {
        margin: 60px 10% 0 0;
        color: #fffebd;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 600px;
        position: absolute;
        left: 15%;
        padding: 20px;
    }

    .social-media {
        height: 60px;
    }

    .social-media li {
        display: inline;
    }

    .social-media i {
        font-size: 120%;
        margin: 1%;
        padding: 3%;
    }
}

/* For screens size from 750px */
@media screen and (max-width: 750px) {
    #main-container {
        width: 100%;
        height: 550px;
        float: left;
        margin: 0 auto;
    }

    #link-menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 2px;
        font-size: 60%;
    }

    #nav-logo {
        clear: left;
        margin-left: 10px;
        margin-bottom: 2px;
        font-size: 150%;
    }

    #main-outer {
        overflow: hidden;
        background: url('../img/92F2D926-EA76-4AE5-B0DB-E9EC67F87180.png') no-repeat center center;
        height: 300px;
        width: 100%;
    }

    #circle-container {
        width: 200px;
        height: 200px;
        padding: 20px;
        border-color: rgba(0, 0, 0, 0.6);
        border-width: 2px;
        border-radius: 50%;
        margin: 30px;
        border-style: solid;
    }

    #logo-text {
        display: none;
    }

    h3 {
        font-family: Raleway, sans-serif;
        font-size: 100%;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 1px;
        color: #fec900;
        text-align: center;
    }

    p {
        font-size: 80%;
    }

    #header {
        padding-top: 40px;
        width: 50%;
        float: left;
        margin-left: 40px;
    }

    #header p {
        text-align: center;
        margin-top: 10px;

    }

    #paragraph {
        padding-top: 60px;
        width: 50%;
        float: left;
        margin-left: 20px;
    }

    #paragraph h3 {
        margin-bottom: 10px;
    }

    #paragraph p {
        margin-left: 40px;
        margin-top: 5px;
    }

    #right-image {
        width: 35%;
        float: right;
        padding-top: 65px;
        margin-right: 40px;

    }

    #about-container {
        width: 100%;
        height: 770px;
    }

    #about-paragraph {
        padding-top: 20px;
        width: 90%;
        float: left;
        margin-left: 20px
    }

    #about-steps {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        width: 50%;
    }

    h4 {
        font-family: Raleway, sans-serif;
        font-size: 85%;
        color: #f16d00;
        margin-top: 5px;
    }

    #about-image {
        width: 35%;
        float: left;
        padding-top: 35px;
        margin-left: 20px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .email-form {
        margin: 60px 5% 0 0;
        color: #fffebd;
        background-color: rgba(0, 0, 0, 0.6);
        max-width: 600px;
        position: absolute;
        left: 8%;
        padding: 15px;
    }

    .social-media {
        height: 60px
    }

    .social-media li {
        display: inline;

    }

    .social-media i {
        font-size: 100%;
        margin: 1%;
        padding: 3%;
    }
}

/* For screens size from 600px */
@media screen and (max-width: 600px) {
    #main-container {
        width: 100%;
        height: 450px;
        float: left;
        margin: 0 auto;
    }

    #link-menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 2px;
        font-size: 60%;
    }

    #nav-logo {
        clear: left;
        margin-left: 10px;
        margin-bottom: 2px;
        font-size: 150%;
    }

    #main-outer {
        overflow: hidden;
        background: url('../img/92F2D926-EA76-4AE5-B0DB-E9EC67F87180.png') no-repeat center center;
        height: 300px;
        width: 100%;
    }

    #circle-container {
        width: 200px;
        height: 200px;
        padding: 20px;
        border-color: rgba(0, 0, 0, 0.6);
        border-width: 2px;
        border-radius: 50%;
        margin: 30px;
        border-style: solid;
    }

    #logo-text {
        display: none;
    }

    h3 {
        font-family: Raleway, sans-serif;
        font-size: 80%;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 1px;
        color: #fec900;
        text-align: center;
    }

    p {
        font-size: 60%;
    }

    #header {
        padding-top: 20px;
        width: 50%;
        float: left;
        margin-left: 20px;
    }

    #header p {
        text-align: center;
        margin-top: 10px;

    }

    #paragraph {
        padding-top: 60px;
        width: 50%;
        float: left;
        margin-left: 10px;
    }

    #paragraph h3 {
        margin-bottom: 10px;
    }

    #paragraph p {
        margin-left: 20px;
        margin-top: 5px;
    }

    #right-image {
        width: 35%;
        float: right;
        padding-top: 35px;
        margin-right: 20px;

    }

    #about-container {
        width: 100%;
        height: 550px;
    }

    #about-paragraph {
        padding-top: 10px;
        width: 90%;
        float: left;
        margin-left: 20px
    }

    #about-steps {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width: 55%;
    }

    h4 {
        font-family: Raleway, sans-serif;
        font-size: 60%;
        color: #f16d00;
    }

    #about-image {
        width: 35%;
        float: left;
        padding-top: 25px;
        margin-left: 20px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .social-media {
        height: 60px;
    }

    .social-media li {
        display: inline;

    }

    .social-media i {
        font-size: 100%;
        margin: 1%;
        padding: 3%;
    }


}

/* For screens size from 400px */
@media screen and (max-width: 400px) {
    #about-container {
        width: 100%;
        height: 980px;
    }

    #about-paragraph {
        padding-top: 10px;
        width: 90%;
        float: left;
        margin-left: 20px
    }

    #about-steps {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        width: 55%;
    }

    h4 {
        font-family: Raleway, sans-serif;
        font-size: 60%;
        color: #f16d00;
    }

    #about-image {
        width: 35%;
        float: left;
        padding-top: 3px;
        margin-left: 20px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
}